.login-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 550px;
  // height: 100%;
  height: 100vh;
  min-height: 500px;
  background-color: #eeeeee;
  background-image: url("@assets/images/login_bg.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  .login-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    height: 94%;
    box-sizing: border-box;
    padding: 0 4% 0 50px;
    border-radius: 20px;
    background-color: hsla(0deg, 0%, 100%, 80%);
    margin: auto;
    overflow: hidden;
    .login-left {
      width: 800px;
      img {
        width: 100%;
      }
    }
    .login-form {
      width: 420px;
      padding: 50px 40px 45px;
      border-radius: 10px;
      box-shadow: 2px 3px 7px #0003;

      .login-logo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 15px;
        .logo-icon {
          width: 60px;
        }
      }
    }
  }
}
